body{
    margin: 0;
   background-image: url("https://i.imgur.com/ybNWJbw.gif");
   background-size:200%;
   background-position: top;
   color: rgb(255, 255, 255);
   font-family: "Andika", sans-serif;
}
img{
   width: 100%;
}
.main-content{
    width: 50%;
    margin: auto;
    text-align: center;
    background-color:rgb(12, 0, 99) ;
    padding: 1rem;
    position: relative;
    top:-4rem;
}
.masthead h1{
    text-align: center;
    background-color: rgb(6, 0, 55);
    padding: 1.2rem;
    position: relative;
    top:-4rem;
}
footer{
    width: 50%;
    margin: auto;
    text-align: center;
    font-size:x-large;
    position: relative;
    top:-4rem;
}
footer i{
    background-color:rgb(12, 0, 99) ;
    border-radius: 10%;
    padding: 0.4rem;
    margin-top: 1rem;
}
#add-button{
    background-color: rgb(178, 178, 255);
    color: rgb(0, 0, 0);
    font-family: "Andika", sans-serif;
    border-radius: 8%;
}
#item-list{
    list-style-type:square;
    border-style: solid;
    border-width: 0.1rem;
    align-items:center;
}
#feedback{
    background-color: rgb(255, 255, 255);
    color: rgb(185, 0, 0);
}

@media only screen and (min-width:768px){
    body{
        background-size: 100%;
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%; 
    }
    .masthead h1{
        top:1rem;
        width: 30%;
        margin: auto;
    }
    .main-content{
        top:2rem;
        width: 30%;
    }
    #add-button{
        transition: 0.1s;
    }
    #add-button:hover{
        background-color: rgb(92, 92, 92) ;
        color: rgb(255, 255, 255);
    }
    footer{
        top:2rem;
    }
    footer i{
        transition: 0.1s;
    }
    footer i:hover{
        background-color: rgb(92, 92, 92);
    }
}
